<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body >
    <header th:replace="layout/layout :: header"></header>

    <div class="container py-4 w-50 ">
        <div class="card bg-danger text-white">
            <div class="card-header" th:text="#{text.security.error.403.titulo}">Error: acceso denegado! °_°</div>
            <div class="card-body">
                <h5 class="card-title" th:utext="#{text.security.error.403.permiso(${#authentication.name})}"></h5>
                <a class="btn btn-outline-primary border-white text-white" role="button" th:href="@{/listar}" th:text="#{text.security.error.403.volver}"></a>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>